/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import "reset";
@import "fonts";
@import "base-material";
@import "classes";
@import "base";
@import "variables";
@import "media";
@import "success-and-error";



/** MATERIAL  */
@include mat-core();

// light theme
$primary: mat-palette($mat-blue, 800);
$accent: mat-palette($mat-blue-gray,600);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

// Dark theme
$dark-primary: mat-palette($mat-blue,800);
$dark-accent: mat-palette($mat-orange,800);

$dark-theme: mat-dark-theme($primary, $accent);

// Class
.material-dark-theme {
  @include angular-material-theme($dark-theme);
}





