/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-card {
  background-color: $gray-100;
}

.link {
  outline: 0;
  cursor: pointer;
}


.mat-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-full-width {
  width: 100%;
}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
