/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

mat-card {
  padding: 0px !important;
  background: $white !important;
}

mat-form-field {
  margin: 1rem 0 !important;
}

.title-form {
  background-color: $indigo;
  border-radius: 4px 4px 0 0;
  color: $white;
  padding: 1.5rem;
}

.link {
  outline: 0;
  cursor: pointer;
}

.mat-form {
  padding: 0 2rem 2rem 2rem;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-full-width {
  width: 100%;
}

.bck {
  background-color: $indigo;
  color: white;
}

.btn-valid {
  background-color: $indigo;
  color: white;
}
