<mat-toolbar fxLayoutGap="15px" color="primary">
  <span class="link" routerLink="/">Nicolas Zanardo</span>
  <span fxFlex="auto">
    <span class="link font-light" routerLink="/animation">Animation</span>
  </span>
  <span *ngIf="!jwtToken?.isAuthenticated" fxLayoutGap="15px" fxLayoutAlign="center center">
    <mat-icon class="link" routerLink="/signin" matTooltip="Connexion">account_circle</mat-icon>
  </span>
  <span *ngIf="jwtToken?.isAuthenticated" fxLayoutGap="5px" fxLayoutAlign="center center">
    <mat-icon class="link" routerLink="/profile" matTooltip="Votre Profile">person</mat-icon>
    <mat-icon class="link" (click)="logout()" matTooltip="Déconnexion">power_settings_new</mat-icon>
  </span>
</mat-toolbar>
