<mat-toolbar class="d-flex justify-content-around fixed-top">

  <div class="d-flex align-items-end">
    <!--  Menu Sandwich-->
    <button mat-icon-button id="sandwich" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <!--  logo & title web site-->
    <span id="title-website" class="mr-3" routerLink="/">nicolas-zanardo.com</span>

    <!--    navigation link-->
    <div class="nav-link">
      <span class="link" routerLink="/animation">Portfolio</span>
      <span class="link" routerLink="/">Contact</span>
    </div>

  </div>


  <span *ngIf="!jwtToken?.isAuthenticated" class="d-flex align-items-center">
    <mat-icon routerLink="/connection" >account_circle</mat-icon>
  </span>

  <span *ngIf="jwtToken?.isAuthenticated" class="d-flex align-items-center">
    <mat-icon *ngIf="jwtToken?.isUser" routerLink="/profile">person</mat-icon>
    <mat-icon *ngIf="jwtToken?.isAdmin" routerLink="/">person</mat-icon>
    <mat-icon (click)="logout()" class="logout-media">power_settings_new</mat-icon>
  </span>

</mat-toolbar>
