<mat-toolbar color="primary">
  <h3 mat-dialog-title>Entrez votre email</h3>
</mat-toolbar>

<div fxLayout="column" class="m-3">
  <p >Entrez votre adresse email, si votre adresse existe vous recevrez un mail</p>
  <form [formGroup]="form" novalidate>
    <mat-form-field class="mat-full-width" floatLabel="auto">
      <mat-label>email</mat-label>
      <input matInput placeholder="mon@mail.fr" autocomplete="off" required formControlName="email">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error *ngFor="let validation of messages.validation.email">
        <mat-error *ngIf="form.get('email')!.hasError(validation.type)">
          {{validation.message}}
        </mat-error>
      </mat-error>
    </mat-form-field>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>
    <button *ngIf="form.valid" mat-raised-button color="primary" [mat-dialog-close]="form" cdkFocusInitial >Changer votre mot de passe</button>
  </mat-dialog-actions>
</div>



