@import "~bootstrap/scss/bootstrap";
@import "./src/media";

.mat-dialog-email {
  @include tablets {
    min-width: 600px;
  }
  .mat-dialog-title {
    padding: 1rem;
    background-color: $gray-700;
    color: whitesmoke;
    border-radius: 4px 4px 0 0;
    font-family: var(--font-title-logo);
  }
  p {
    display: none;
    @include tablets {
      display: block;
    }
  }
}

