<div class="mat-dialog-email">
  <div mat-dialog-title>Votre email</div>


  <form [formGroup]="form" #formDirective="ngForm" novalidate>

    <mat-form-field class="mat-full-width" floatLabel="auto">
      <mat-label>email</mat-label>
      <input matInput placeholder="mon@mail.fr" autocomplete="off" required formControlName="email">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error *ngFor="let validation of messages.validation.email">
        <mat-error *ngIf="form.get('email')!.hasError(validation.type)">
          {{validation.message}}
        </mat-error>
      </mat-error>
    </mat-form-field>


    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Annuler</button>
      <button *ngIf="form.valid" mat-raised-button color="primary"  [mat-dialog-close]="true" (click)="submit(formDirective)" cdkFocusInitial>Confirmer</button>
    </mat-dialog-actions>
  </form>
</div>



