<div class="container" fxLayoutAlign="center center">

  <mat-card>

    <!--    title-->
    <mat-card-title>Connexion</mat-card-title>

    <!--    FORM-->
    <form [formGroup]="form" novalidate>

      <!--
        ----- Input -----
        FORM element
      -->
      <div class="p-3">
        <!--        EMAIL-->
        <mat-card-content>
          <mat-form-field class="mat-full-width" floatLabel="auto">
            <mat-label>email</mat-label>
            <input matInput placeholder="mon@mail.fr" autocomplete="off" required formControlName="email">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngFor="let validation of messages.validation.email">
              <mat-error *ngIf="form.get('email')!.hasError(validation.type)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </mat-card-content>

        <!--       PASSWORD-->
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Mot de passe</mat-label>
            <!--          input-->
            <input matInput autocomplete="off"
                   required formControlName="password" [type]="hidePW ? 'text' : 'password'"
                   autocomplete="off"
            >
            <!--          icon-->
            <mat-icon matSuffix
                      (click)="hidePW = !hidePW">{{hidePW ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <!--          error-->
            <mat-error *ngFor="let validation of messages.validation.password">
              <mat-error *ngIf="form.get('password')!.hasError(validation.type)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>
        </mat-card-content>

        <!--      button-->
        <mat-card-actions class="d-flex justify-content-between flex-wrap">

          <div class="mt-4 order-1 d-flex">
            <button mat-raised-button color="primary" class="order-1">
              <span class="material-icons">
                lock
              </span>
              Connexion
            </button>
            <button mat-raised-button color="accent" class="order-0 ml-0" routerLink="/inscription">
              <span class="material-icons">
                fingerprint
              </span>
              Inscription
            </button>
          </div>

          <div class="mr-4 mt-4 order-0">
            <button mat-raised-button >Mots de passe oublié ?</button>
          </div>
        </mat-card-actions>

      </div>

    </form>
  </mat-card>
</div>
