<div class="my-5 py-5" fxLayout="row" fxLayoutAlign="center center">
  <!--  card -->
  <mat-card>
    <mat-card-title>Mon Compte</mat-card-title>
    <mat-card-content *ngIf="currentUser | async; let user" fxLayout="column" fxLayoutGap="15px">
      <div>id: {{user._id}}</div>
      <div>email: {{user.email}}</div>
      <div>company: {{user.company}}</div>
      <div>password (hash): {{user.password}}</div>
      <div>role: {{user.role}}</div>
      <div>email Verifié: {{user.emailVerified | booleanToString}}</div>
      <div>Email Token: {{user.emailToken}}</div>
      <div>PasswordToken: {{user.passwordToken}}</div>
      <div>PasswordTokenExpiration: {{user.passwordTokenExpiration}}</div>
      <div>Date : {{dateNow}}</div>
    </mat-card-content>
  </mat-card>

</div>
