<div class="my-5 py-5" fxLayout="row" fxLayoutAlign="center center">
  <!--  card -->
  <mat-card>
    <mat-card-title class="text-black-50">Connexion</mat-card-title>
    <!--    Error-->
    <div *ngIf="error" class="text-danger">{{error}}</div>
    <mat-card-content class="mt-2">
      <!--      form-->
      <form [formGroup]="form" class="mat-form">
        <!--        Email-->
        <mat-form-field class="mat-full-width" floatLabel="auto">
          <mat-label>email</mat-label>
          <input matInput placeholder="mon@mail.fr" autocomplete="off" required formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngFor="let validation of messages.validation.email">
            <mat-error *ngIf="form.get('email')!.hasError(validation.type)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <!--        Password -->
        <mat-form-field class="matfield mat-full-width mt-2" floatLabel="auto">
          <mat-label>Mot de passe</mat-label>
          <input matInput autocomplete="off" required formControlName="password" [type]="hidePW ? 'text' : 'password'"
                 autocomplete="off">
          <mat-icon matSuffix
                    (click)="hidePW = !hidePW">{{hidePW ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngFor="let validation of messages.validation.password">
            <mat-error *ngIf="form.get('password')!.hasError(validation.type)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <!--        button-->
        <button class="mt-4" color="primary" (click)="submit()" mat-raised-button>Connexion</button>
        <a class="mx-2" routerLink="/signup" mat-raised-button>Inscription</a>
      </form>
    </mat-card-content>
  </mat-card>

</div>
